<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include favicon.html %}
  <meta name="theme-color" content="#1e407c">
  <title>{{ site.title }} | Penn State World Campus</title>
  <style>
    {% include @psu-online-education/base/dist/styles.css %}
    {% include @psu-online-education/blockquote/dist/styles.css %}
    {% include @psu-online-education/breadcrumbs/dist/styles.css %}
    {% include @psu-online-education/compact-menu/dist/styles.css %}
    {% include @psu-online-education/drop-button/dist/styles.css %}
    {% include @psu-online-education/sprite/dist/styles.css %}
    {% include @psu-online-education/details/dist/styles.css %}
    {% include @psu-online-education/background-container/dist/styles.css %}
    {% include @psu-online-education/page-title/dist/styles.css %}
    {% include @psu-online-education/page-title-banner-image/dist/styles.css %}
    {% include @psu-online-education/skip-link/dist/styles.css %}
    {% include @psu-online-education/list/dist/styles.css %}
    {% include @psu-online-education/physical-address/dist/styles.css %}
    {% include @psu-online-education/heading/dist/styles.css %}
    {% include @psu-online-education/social-icon/dist/styles.css %}
    {% include @psu-online-education/social-icons/dist/styles.css %}
    {% include @psu-online-education/layout-multi-col/dist/styles.css %}
    {% include @psu-online-education/layout-two-col/dist/styles.css %}
    {% include @psu-online-education/header/dist/styles.css %}
    {% include @psu-online-education/footer/dist/styles.css %}
    {% include @psu-online-education/page-title-banner-plain/dist/styles.css %}
    {% include @psu-online-education/vertical-menu/dist/styles.css %}
    {% include @psu-online-education/table/dist/styles.css %}
    {% include syntax.css %}
    {% include custom.css %}
  </style>
  {% include webfonts.html %}
  {% include cms_bootstrap.html %}
</head>
