<ul class="vertical-menu__menu vertical-menu__menu--{{ include.depth }}" id="vertical-menu-{{ include.depth }}">
  {% assign current_pages = site.pages | where_exp: "item", "item.dir == include.folder" | sort: "nav_order" %}
  {% for page_item in current_pages %}
    {% unless page_item.url == include.folder %}
      <li class="vertical-menu__item vertical-menu__item--{{ include.depth }}">
        <a class="vertical-menu__link vertical-menu__link--{{ include.depth }}" href="{{ page_item.url | relative_url }}">
          {{ page_item.title | default: page_item.name }}
        </a>

        {% assign subfolder = page_item.url | replace: ".html", "/" %}
        {% assign children = site.pages | where_exp: "p", "p.dir == subfolder" %}
        {% if children.size > 0 %}
          {% assign next_depth = include.depth | plus: 1 %}
          <button class="vertical-menu__toggle"
                  aria-controls="vertical-menu-{{ next_depth }}"
                  aria-expanded="false">
            <span class="visually-hidden">Toggle {{ page_item.title }}</span>
            <span class="vertical-menu__chevron">
              <svg class="sprite sprite--fas-chevron-down" aria-hidden="true" viewBox="0 0 448 512">
                <use xlink:href="#fas-chevron-down"></use>
              </svg>
            </span>
          </button>
          {% include nav_level.html folder=subfolder depth=next_depth %}
        {% endif %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>