.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
.block--system-branding-block .sprite{color:var(--beaver-blue);height:auto;width:13rem;min-width:3rem;max-width:100%}@media(min-width: 550px){.block--system-branding-block .sprite{width:18.5rem}}
  @media(min-width: 550px){.tagline{margin-left:2rem}}@media(min-width: 950px){.tagline{margin-left:4rem}}.tagline::before{content:"";display:block;background-color:var(--sky-blue);height:0.1rem;width:6rem;margin-bottom:0.6rem}@media(min-width: 550px){.tagline::before{height:0.2rem;width:7rem;margin-bottom:0.7rem}}@media(min-width: 950px){.tagline::before{height:0.3rem;width:8rem;margin-bottom:0.8rem}}.tagline__text{color:var(--text-color);font-family:var(--font-family--default);font-size:var(--font-size--5xsmall);font-weight:var(--font-weight--regular);line-height:var(--line-height--xsnug)}@media(min-width: 550px){.tagline__text{font-size:var(--font-size--3xsmall)}}@media(min-width: 950px){.tagline__text{font-size:var(--font-size--mlarge)}}

.home-layout {
  padding: 5rem var(--page-side-padding);
  max-width: 119rem;
  margin: 0 auto;
}

.default-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem var(--page-side-padding);
  max-width: 119rem;
  margin: 0 auto;
}

.default-layout .layout-two-col {
  flex-direction: row-reverse;
}

.highlighter-rouge {
  overflow: auto;
  max-width: 82rem;
  margin-bottom: 2rem;
}

blockquote p {
  display: contents;
}

#main-content ul,#main-content ol{margin:0 0 var(--text-element-vertical-space--medium);padding:0}#main-content li{font-size:var(--font-size--default);margin:0;color:var(--text-color);line-height:var(--line-height--default)}#main-content li+li{margin-top:var(--text-element-vertical-space--small)}#main-content ol li{margin-left:1.8rem}#main-content ul li{display:block;position:relative;margin-left:1.5rem}#main-content ul li:before{content:"";background-color:var(--sky-blue);height:0.8rem;width:0.8rem;border-radius:50%;top:1rem;left:-1.5rem;position:absolute}@supports(display: -ms-grid){#main-content ul li:before{left:-1.3rem}}#main-content a.button--pdf::after{content:"";display:inline-block;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='white' d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM64 224H88c30.9 0 56 25.1 56 56s-25.1 56-56 56H80v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V320 240c0-8.8 7.2-16 16-16zm24 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H80v48h8zm72-64c0-8.8 7.2-16 16-16h24c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H176c-8.8 0-16-7.2-16-16V240zm32 112h8c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16h-8v96zm96-128h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H304v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H304v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V304 240c0-8.8 7.2-16 16-16z'/%3E%3C/svg%3E%0A");background-repeat:no-repeat;width:2rem;height:2.4rem;vertical-align:middle}#main-content figure.embedded-entity{margin:0 0 var(--text-element-vertical-space--medium)}#main-content figcaption{font-size:var(--font-size--small);line-height:var(--line-height--snug)}@media(min-width: 550px){#main-content .align-center.media--image,#main-content .align-left.media--image,#main-content .align-right.media--image{width:auto}}#main-content .align-center,#main-content .align-left,#main-content .align-right{float:none}@media(min-width: 550px){#main-content .align-center,#main-content .align-left,#main-content .align-right{padding:0}#main-content .align-center img,#main-content .align-center picture,#main-content .align-left img,#main-content .align-left picture,#main-content .align-right img,#main-content .align-right picture{width:auto}}#main-content .align-center{text-align:center;padding-top:1rem;margin-bottom:var(--text-element-vertical-space--large)}#main-content .align-center img,#main-content .align-center picture{margin:auto}@media(min-width: 550px){#main-content .align-left{float:left;margin-right:2rem}}@media(min-width: 550px){#main-content .align-right{float:right;margin-left:2rem}}#main-content .embedded-entity{width:100%}@media(min-width: 550px){#main-content .embedded-entity{padding:0}}#main-content .embedded-entity .media--video{margin:3rem 0 3rem}@media(min-width: 550px){#main-content .embedded-entity .media--video{min-width:30rem}}#main-content .embedded-entity img{padding:0;margin:0}#main-content .embedded-entity .image-style--original_image{width:auto;padding-top:1rem;margin-bottom:var(--text-element-vertical-space--large)}#main-content .embedded-entity .image-style--awards_x2_wysiwyg{width:13rem;padding:0;margin-bottom:var(--text-element-vertical-space--large)}#main-content .embedded-entity .image-style--small_graphic_x2_wysiwyg,#main-content .embedded-entity .image-style--small_image_wysiwyg{max-width:20rem;padding-top:1rem;margin-bottom:var(--text-element-vertical-space--large)}@media(min-width: 550px){#main-content .column--two{column-count:2}#main-content .column--two li{padding-right:2.6rem;break-inside:avoid}}#main-content .deadline{font-style:italic}#main-content .deadline strong{font-style:normal}#main-content .deadline:before{content:"";display:inline-block;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23009cde' d='M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z'/%3E%3C/svg%3E");background-repeat:no-repeat;margin-right:0.8rem;width:2rem;height:2.1rem;vertical-align:middle}#main-content .a11y-table{margin-bottom:var(--text-element-vertical-space--large)}#main-content > *:last-child{margin-bottom:0}

details p:last-child {
  margin-bottom: 2rem;
}

.docs-theme-header-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
