---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include after_body_start.html %}
    {% include header.html %}
    {% include page_title.html %}
    <div class="default-layout">
      {% include breadcrumbs.html %}
      <main class="layout-two-col layout-multi-column layout-multi-column--gap-large">
        <div id="main-content" class="layout-multi-column__region layout-multi-column__region--75">
          {{ content }}
        </div>
        <aside class="layout-multi-column__region layout-multi-column__region--25">
          <div class="sidebar-navigation">
            {% include menu.html highlight=true %}
          </div>
        </aside>
      </main>
    </div>
    {% include footer.html %}
    {% include before_body_end.html %}
  </body>
</html>
